@model IdentityRole

<div class="from-group">
    <label asp-for="@Model.Name" class="col-form-label"></label>
    <input asp-for="@Model.Name" class="form-control"></input>
    <span asp-validation-for="@Model.Name" class="text-danger"></span>

</div>
<br/>
@section scripts
{
    <partial name="_ValidationScriptsPartial"/>
}