 @model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<h1>ResetPassword</h1>

<form asp-action="ResetPassword" method="post">
    <input type="email" asp-for=" Email" hidden required="false"/>
    <input type="text" asp-for="Token " hidden required="false" />
    <div asp-validation-summary="All"></div>
    <input type="password" asp-for="Password" placeholder="Password" class="form-control">
    <span asp-validation-for="Password"> </span>
    <br/>
    <div asp-validation-summary="All"></div>
    <input type="ConfirmPassword" asp-for="ConfirmPassword" placeholder="ConfirmPassword" class="form-control">
    <span asp-validation-for="ConfirmPassword"> </span>
    </br>
    <input type="submit" value="Change Password" class="btn btn-primary"></input>


</form>

